<!-- navbar.html -->
<nav style="background-color: #100700; padding: 12px;">
  <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
    <li style="margin-right: 25px;"><a href="index.html" style="color: white; text-decoration: none; font-weight: bold;">Guest</a></li>
    <li style="margin-right: 25px;"><a href="services.html" style="color: white; text-decoration: none; font-weight: bold;">Event</a></li>
    <li style="margin-right: 25px;"><a href="restaurant.html" style="color: white; text-decoration: none; font-weight: bold;">Restaurant</a></li>
    <li style="margin-right: 25px;"><a href="chambre.html" style="color: white; text-decoration: none; font-weight: bold;">Chambre</a></li>
    <li><a href="logout.html" style="color: white; text-decoration: none; font-weight: bold;">Déconnexion</a></li>
  </ul>
</nav>
